@charset "utf-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$sans-serif: 'Noto Sans', sans-serif;
$serif: 'Radley', serif;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(680) !default;
$base-font-color: #000 !default;

$tablet_or_so: em(680) !default;
$desktop_client: em(1200) !default;

body {
  background:transparent url('/images/table.jpg') center repeat-y;
//  background:transparent url('http://www.psd-dude.com/tutorials/create-a-meat-sausage-photoshop-text-effect/tileable-wood-texture.jpg') center repeat-y;
//  background:transparent url('http://www.mb3d.co.uk/mb3d/Wood_Seamless_and_Tileable_High_Res_Textures_files/Wood_01_UV_H_CM_1.jpg') center repeat-y;
  background-size: 100% auto;
//  margin: 0;
  color: $base-font-color;
  font-size: 18px;

  background-color: azure;

  @include media($tablet_or_so) {
    background-color: gray;
  }

  @include media($desktop_client) {
    background-color: white;
  }
}

.content {
  background-color: white;
  margin-bottom: 1em;
  padding: 0 2em;

  background:transparent url('/images/paper.png') center repeat-y;
  background-size: 100% auto;

  @include outer-container;
  @include span-columns(12);

  @include media($tablet_or_so) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($desktop_client) {
    @include span-columns(6.5);
    @include shift(2.75);
  }

  -webkit-box-shadow: 4px 0px 10px 4px rgba(0,0,0,0.31);
  -moz-box-shadow: 4px 0px 10px 4px rgba(0,0,0,0.31);
  box-shadow: 4px 0px 10px 4px rgba(0,0,0,0.31);
}

.banner {
  h1 {
    font-family: $serif;
    font-size: 2.6em;
    font-weight: 700;
    margin: 3em 0;

    @include media($tablet_or_so) {
      font-size: 4em;
      margin: 2em 0;
      text-align: left;
    }

    @include media($desktop_client) {
      font-size: 4em;
      margin: 2em 0;
      text-align: left;
    }

    span {
      display: block;
    }
  }
}

article {
  max-width: 35em;
}

article.type-system-traditional {
  h1, h2, h3, p {
    margin: 0;
  }

  img {
    padding-top: 1em;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
    opacity: 0.5;
  }

  a:hover {
    transition: all .5s ease-in-out;
    opacity: 1;
  }

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 2px solid;
    display: inline-block;
    font-family: $sans-serif;
    color: $base-accent-color;
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.3em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .9em;

    @include media($medium-screen) {
      font-size: 1.5em;
    }
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.75em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h2 code {
    font-size: 0.65em;
  }

  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-style: italic;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    letter-spacing: 1;
    line-height: 1.55em;
    margin-bottom: 1.5em;

    span {
      font-family: $serif;
      font-size: 1.2em;
      font-style: italic;
    }
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $sans-serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 0em;
  }
}


.asterism:before {
  content: "⁂";
}
.asterism {
  text-align: center;
  font-size: 2em;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 0.6em;
}

.call-to-action {
  text-align: center;
  margin: 5em auto;
}

#border {
  float: right;
  margin-top: 1em;
  cursor:pointer;
  display: inline-block;
  margin-right: 1em;
}

#border, #heart {
    position:relative;
    width:100px;
    height:90px;
}
#border:before, #border:after, #heart:before, #heart:after {
    position: absolute;
    content:"";
    left: 50px;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
}

#border:before, #border:after {
    background: green;
}

#heart:before, #heart:after {
    background: #D6FFD6;
    z-index: 1;
}

#heart:hover:before, #heart:hover:after {
    background-color: green;
    transition: background .5s ease-in-out;
   -moz-transition: background .5s ease-in-out;
   -webkit-transition: background .5s ease-in-out;
}

#border:before, #heart:before {
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#border:after, #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

.share {
  display: inline-block;
  opacity: 0.5;
}

.share:hover {
  transition: all .5s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.share-options {
  display: inline-block;
  position: relative;
  top: -20px;

  img {
    width: 64px;
  }

  div {
    opacity: 0.5;
    display: inline-block;
  }

  div:hover {
    transition: all .5s ease-in-out;
    opacity: 1;
  }
}

.twitter {
  position: relative;
  top: -1px;
  left: 1px;
}

.google {
  position: relative;
  top: 4px;
}

.facebook {
  position: relative;
  top: 4px;
}

.email {
  position: relative;
  top: 4px;
  left: -4px;
}

.heart-options {
  display: inline-block;

  img {
    width: 64px;
  }

  div {
    opacity: 0.5;
    display: inline-block;
  }

  div:hover {
    transition: all .5s ease-in-out;
    opacity: 1;
  }
}

ul {
  list-style-type: initial;
  padding-left: 1.5em;
}