@charset "UTF-8";
@import url(questa-grande.css);
@import url(questa-regular.css);
@import url(github.css);
input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #dddddd 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #dddddd 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #dddddd 100%);
  background: linear, to right, rgba(255, 255, 255, 0) 0%, #dddddd 100%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#dddddd',GradientType=1 );
  color: #333;
  font-size: 18px;
  margin: 0 0 0 0;
  box-sizing: content-box; }

.content {
  background-color: white;
  padding: 0 5%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: transparent url("/images/paper.png") center repeat-y;
  background-size: 100% auto;
  max-width: 100%; }
  .content:after {
    content: "";
    display: table;
    clear: both; }
  .content:last-child {
    margin-right: 0; }

article {
  max-width: 35em;
  margin: 0 auto; }

.footer {
  margin: 0;
  background-color: #477DCA;
  color: white;
  min-height: 32px; }

h1 {
  font-family: "questa_granderegular", serif;
  font-weight: 700; }

h2 {
  font-family: "questaregular", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: .9em;
  color: #477DCA; }

article.type-system-traditional {
  margin-top: 1em;
  text-align: left; }
  article.type-system-traditional h1, article.type-system-traditional h2, article.type-system-traditional h3, article.type-system-traditional h4, article.type-system-traditional h5, article.type-system-traditional h6 {
    font-family: "questaregular", serif; }
  article.type-system-traditional h1 {
    text-align: center; }
  article.type-system-traditional h1 {
    font-size: 2em; }
  article.type-system-traditional h2 {
    font-size: 1.5em; }
  article.type-system-traditional h3 {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400; }
  article.type-system-traditional h1 {
    margin: 2em 0; }
  article.type-system-traditional h2 {
    margin: 2em 0 0; }
  article.type-system-traditional h3 {
    margin: 1.5em 0 0; }
  article.type-system-traditional h4 {
    margin: 1em 0 0; }
  article.type-system-traditional h5 {
    margin: 1em 0 0; }
  article.type-system-traditional h6 {
    margin: 1em 0 0; }
  article.type-system-traditional p {
    margin: 0; }
  article.type-system-traditional blockquote {
    font-style: italic;
    font-size: 1.2em; }
  article.type-system-traditional img {
    background-color: white;
    width: 100%;
    height: auto; }
  article.type-system-traditional p {
    line-height: 1.5; }
  article.type-system-traditional a {
    color: #477DCA;
    text-decoration: none;
    opacity: 0.75; }
    article.type-system-traditional a img {
      opacity: 0.5; }
  article.type-system-traditional a:hover {
    transition: all .5s ease-in-out;
    opacity: 1; }
  article.type-system-traditional:after {
    content: "";
    display: table;
    clear: both; }
  article.type-system-traditional .type {
    border-bottom: 2px solid;
    display: inline-block;
    font-family: "questaregular", sans-serif;
    color: #477DCA;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase; }
  article.type-system-traditional p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "questaregular", serif;
    margin-bottom: .3em; }
  article.type-system-traditional p {
    font-family: "questaregular", sans-serif;
    letter-spacing: 1;
    line-height: 1.55em;
    margin-bottom: 1.5em; }
    article.type-system-traditional p span {
      font-family: "questaregular", serif;
      font-size: 1.2em;
      font-style: italic; }
  article.type-system-traditional a.read-more {
    display: inline-block;
    font-family: "questaregular", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    article.type-system-traditional a.read-more span {
      font-family: "questaregular", sans-serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px; }
  article.type-system-traditional p.author {
    font-family: "questaregular", serif;
    font-size: 1.2em;
    margin-bottom: 0em; }

.asterism:before {
  content: "⁂"; }

.asterism {
  text-align: center;
  font-size: 2em;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 0.6em; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

ul, ol {
  padding-left: 1.5em;
  font-family: "questaregular", serif; }

.banner {
  color: white;
  letter-spacing: 0.2em;
  text-align: center; }
  .banner img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear, false, rgba(0, 0, 0, 0.7), 0.7;
    width: 100%; }
  .banner .solid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #477DCA;
    width: 100%;
    height: 100%; }
  .banner h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8em;
    margin: 3em auto; }
    @media screen and (min-width: 42.5em) {
      .banner h1 {
        font-size: 2.5em; } }
    .banner h1 span {
      display: block; }
  .banner .lede {
    font-size: 0.5em; }

figure, figcaption {
  display: block; }

.polaroid {
  padding: 20px; }

.polaroid figure {
  padding: 6px 8px 10px 8px;
  background: #eee6d8;
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear, top, #ede1c9, #fef8e2 20%, #f2ebde 60%;
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75); }

.polaroid figure {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  -webkit-backface-visibility: hidden; }

.polaroid figure:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75); }

.polaroid figcaption {
  text-align: center;
  font-family: 'Reenie Beanie', italic;
  font-size: 1.3em;
  font-style: italic;
  color: #454f40;
  letter-spacing: 0.09em; }

figure:before {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: -15px;
  width: 75px;
  height: 25px;
  background-color: rgba(222, 220, 198, 0.7);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg); }

figure:after {
  content: '';
  display: block;
  position: absolute;
  right: -19px;
  bottom: -12px;
  width: 75px;
  height: 25px;
  background-color: rgba(222, 220, 198, 0.7);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg); }

figure:nth-child(even):before {
  left: 150px;
  top: -15px;
  width: 55px;
  height: 25px;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg); }

.call-to-action {
  text-align: center;
  margin: 2em auto; }

.twitter {
  position: relative;
  top: -1px;
  left: 1px; }

.google {
  position: relative;
  top: 4px; }

.facebook {
  position: relative;
  top: 4px; }

.email {
  position: relative;
  top: 4px;
  left: -4px; }

.linkedin {
  position: relative;
  top: 2px;
  left: -2px; }

.all-article-button {
  float: right; }

a.button {
  display: inline-block;
  margin: 0;
  width: 11em;
  border-radius: 6px;
  background-color: #477DCA;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1em;
  opacity: 0.75; }

a.button:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 1; }

ul.big-options {
  background-color: white;
  margin: 0 auto;
  padding: 1em;
  background: transparent url("/images/paper.png") center repeat-y;
  background-size: 100% auto;
  -moz-box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.31);
  box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.31); }
  ul.big-options:after {
    content: "";
    display: table;
    clear: both; }

li.big-option {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 300px;
  border: 1px dotted red;
  background-size: 100% 100%; }
  li.big-option:last-child {
    margin-right: 0; }
  li.big-option:nth-child(3n) {
    margin-right: 0; }
  li.big-option:nth-child(3n+1) {
    clear: left; }

.back-invert {
  font-size: 3em;
  font-family: 'Reenie Beanie', italic;
  font-style: italic;
  text-align: center; }

.movies {
  list-style-type: none;
  padding: 0 0 3em 0; }

.me {
  position: absolute;
  top: 0;
  right: -450px; }

.landing {
  background-color: #25b0cb; }

.about {
  max-width: 680px;
  margin: 0 auto; }

.brief {
  padding-top: 1em;
  font-size: 0.9em; }

.bio {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center; }
  .bio h1 {
    margin-bottom: 0; }
  .bio h2 {
    font-size: 0.8em; }
  .bio img.avatar {
    width: 60%;
    max-width: 200px;
    height: auto;
    background-color: white;
    -webkit-mask-image: url("/images/circle-img-mask.png");
    -webkit-mask-size: 100% 100%; }

ul.recent-3 {
  margin: 1em auto 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 680px; }

ul.anchors {
  margin: 1em auto 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 680px; }

li.anchor {
  margin: 0 0 1em 0; }
  li.anchor:after {
    content: "";
    display: table;
    clear: both; }
  li.anchor h1 {
    font-size: 1.4em;
    margin-bottom: 0; }
  li.anchor img {
    float: left;
    width: auto;
    max-width: 200px;
    max-height: 300px;
    padding: 1em 1em 0 0; }
  li.anchor .click-to-read {
    clear: left;
    display: block;
    font-family: "questaregular", sans-serif;
    color: #477DCA;
    font-size: 0.8em;
    font-weight: 800;
    padding: 1em 0 0.1em 0;
    text-align: right;
    text-transform: uppercase; }
    li.anchor .click-to-read a {
      border-bottom: 2px solid; }

li.recently {
  margin: 0 0 1em 0; }
  li.recently:after {
    content: "";
    display: table;
    clear: both; }
  li.recently h1 {
    font-size: 1.6em;
    margin-bottom: 0; }
  li.recently .click-to-read {
    float: right;
    border-bottom: 2px solid;
    display: block;
    font-family: "questaregular", sans-serif;
    color: #477DCA;
    font-size: 0.8em;
    font-weight: 800;
    padding: 2em 0 0.1em 0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  li.recently input {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 45%;
    min-height: 2em; }
  li.recently button {
    display: inline-block;
    float: right; }

.follow-options, .share-options {
  display: inline-block;
  position: relative;
  top: -20px;
  margin: 2em auto 0 auto; }
  .follow-options img, .share-options img {
    width: 32px; }
  .follow-options div, .share-options div {
    opacity: 0.5;
    display: inline-block; }
  .follow-options div:hover, .share-options div:hover {
    transition: all .5s ease-in-out;
    opacity: 1; }

.follow-options {
  width: 100%;
  text-align: center; }

.share-options img {
  width: 64px; }

.header {
  min-height: 48px;
  margin: 0;
  background-color: #477DCA;
  color: white;
  text-align: center;
  letter-spacing: 0.2em; }
  .header h1 {
    display: inline-block;
    font-family: "questaregular", sans-serif;
    font-weight: 800;
    padding: 1em 0 0.1em 0;
    text-transform: uppercase; }

.when-and-where {
  display: inline-block;
  color: #888;
  text-transform: uppercase;
  font-size: 0.8em; }

.follow-options {
  font-size: 14px; }
  .follow-options .twitter {
    position: relative;
    top: 1px; }
  .follow-options .github {
    position: relative;
    top: 4px; }
  .follow-options .plus {
    position: relative;
    top: 4px; }
  .follow-options .linkedin {
    position: relative;
    top: 2px; }
  .follow-options .steam {
    position: relative;
    top: 4px; }
  .follow-options .goodfilms {
    position: relative;
    top: 4px; }
  .follow-options .untappd {
    position: relative;
    top: 4px; }
  .follow-options .flickr {
    position: relative;
    top: 4px; }
  .follow-options .goodreads {
    position: relative;
    top: 4px; }

.copyright {
  box-sizing: content-box;
  font-size: 0.6em;
  text-transform: uppercase; }

iframe {
  width: 100%;
  height: 100%; }

.iconic {
  position: fixed;
  top: 8px;
  left: 8px;
  opacity: 0.5; }
  .iconic img.avatar {
    width: 60%;
    max-width: 64px;
    height: auto;
    background-color: white;
    -webkit-mask-image: url("/images/circle-img-mask.png");
    -webkit-mask-size: 100% 100%; }

.iconic:hover {
  transition: all .5s ease-in-out;
  opacity: 1; }

/*# sourceMappingURL=blog.css.map */
