@charset "utf-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "questa-grande.css";
@import "questa-regular.css";
@import "github.css";

$big-font: 'questa_granderegular', serif;
$sans-serif: sans-serif;
$serif: 'questaregular', serif;
$handwriting: 'Reenie Beanie', italic;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$med-gray: #888 !default;
$light-gray: #DDD !default;
$medium-screen: em(680) !default;
$base-font-color: #000 !default;

$tablet_or_so: em(680) !default;
$max_content_width: 680px;

@import "blog/layout";
@import "blog/typography";
@import "blog/banner";
@import "blog/images";
@import "blog/lists";
@import "blog/buttons";
@import "blog/social";
@import "blog/anchor";
@import "food/typography";
@import "food/layout";
@import "food/lists";
@import "food/anchor";