!!!html
%html
  = partial "/templates/head"
  %body
    #lightbox
    = partial "/templates/anchor"
    .index
      = partial "/templates/article"
    = partial "/templates/footer"
    %script{:src => "/javascripts/image-zoom.js"}
    %script{:src => "/javascripts/keyboard-navigation.js"}