.iconic-food {
  position: fixed;
  top: 56px;
  left: 8px;
  opacity: 0.5;

  img.avatar {
    width: 60%;
    max-width: 64px;
    height: auto;

    background-color: white;
    -webkit-mask-image: url('/images/site/circle-img-mask.png');
    -webkit-mask-size: 100% 100%;
  }
}

.iconic-food:hover {
  transition: all .5s ease-in-out;
  opacity: 1;
}