.header
  %h1 About me
.content
  .about
    %p.brief
      %span Hi my name is Ryan Boucher. I'm very good at starting things. Over time I have learnt to finish things. It's an endless game of tetris; one in which you can never fail as long as you keep on having fun. I enjoy making things; immensely.
    %p.brief
      This site is where I organise the various pieces I've written, the projects I've worked on
      and the one's that got away. I work for
      %a{:href => "http://www.thoughtworks.com"} ThoughtWorks.
      The easiest way to get in contact with me is via
      %a{:href => "http://twitter.com/distributedlife", :target => "_blank"}twitter.
    %p.brief
      The most difficult way to get in contact with me is by conspiring to fix which table number I am assigned when I sit down at a restaurant. Those table numbers map to letters of the alphabet (indirectly of course). Overtime, a message is spelt out. I will respond by briefly contorting my face into brail letters. Be ready.
    .follow-options
      .twitter
        %a.nozoom{:href => "http://twitter.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/twitter_tiny.png", :width => "32px", :height => "26px" }
      .github
        %a.nozoom{:href => "http://github.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/Octocat_tiny.png", :width => "32px", :height => "32px"}
      .facebook
        %a.nozoom{:href => "https://www.facebook.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/facebook2.png", :width => "32px", :height => "32px"}
      .plus
        %a.nozoom{:href => "https://plus.google.com/u/0/+RyanBoucher_distributedlife/about/p/pub", :target => "_blank"}
          %img.flat{:src => "/images/googleplus_tiny.png", :width => "32px", :height => "32px"}
      .linkedin
        %a.nozoom{:href => "https://www.linkedin.com/in/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/In-2C-28px-R.png", :width => "28px", :height => "28px"}
      .email
        %a{:href => "mailto:ryan.boucher@distributedlife.com"}
          %img.flat{:src => "/images/email_tiny.png", :width => "32px", :height => "32px"}
    .follow-options
      .steam
        %a{:href => "http://steamcommunity.com/id/distributedlife/", :target => "_blank"}
          %img.flat{:src => "/images/steam_tiny.jpg", :width => "32px", :height => "32px"}
      .goodfilms
        %a{:href => "https://goodfil.ms/distributedlife", :target => "_blank"}
          %img.flat{:src => "http://webstir.org/icons/good-films-icon.png", :width => "32px", :height => "32px"}
      .untappd
        %a{:href => "https://untappd.com/user/distributedlife", :target => "_blank"}
          %img.flat{:src => "https://pbs.twimg.com/profile_images/461409373709811712/rD3OvWzE.jpeg", :width => "32px", :height => "32px"}
      .goodreads
        %a{:href => "https://goodreads.com/ryanboucher", :target => "_blank"}
          %img.flat{:src => "http://men.dentonbible.org/content/themes/dbc-men/images/icon-goodreads.png", :width => "32px", :height => "32px"}
      .flickr
        %a{:href => "https://www.flickr.com/photos/distributedlife/", :target => "_blank"}
          %img.flat{:src => "/images/flickr.png", :width => "32px", :height => "32px"}