.author
  .header
    %h1 by
  .content
    .bio
      %a{:href => "/"}
        %img.avatar{:src => "/images/site/me.jpg"}
      %h1 Ryan Boucher
      %h2
        %a{:href => "http://twitter.com/distributedlife", :target => "_blank"} @distributedlife