.bio
  %a{:href => "/"}
    %img.avatar{:src => "images/me.jpg"}
  %h1 Ryan Boucher
  %h2
    %a{:href => "/"} @distributedlife
  .follow-options
    .twitter
      %a.nozoom{:href => "http://twitter.com/distributedlife", :target => "_blank"}
        %img.flat{:src => "/images/twitter_tiny.png", :width => "32px", :height => "26px" }
    .github
      %a.nozoom{:href => "http://github.com/distributedlife", :target => "_blank"}
        %img.flat{:src => "/images/Octocat_tiny.png", :width => "32px", :height => "32px"}
    .facebook
      %a.nozoom{:href => "https://www.facebook.com/distributedlife", :target => "_blank"}
        %img.flat{:src => "/images/facebook2.png", :width => "32px", :height => "32px"}
    .plus
      %a.nozoom{:href => "https://plus.google.com/u/0/+RyanBoucher_distributedlife/about/p/pub", :target => "_blank"}
        %img.flat{:src => "/images/googleplus_tiny.png", :width => "32px", :height => "32px"}
    .email
      %a{:href => "mailto:ryan.boucher@distributedlife.com"}
        %img.flat{:src => "/images/email_tiny.png", :width => "32px", :height => "32px"}