%title=title
%meta{:property => "og:title", :content => title}
%meta{:content => "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
%meta{:name => "viewport", :content => "width=device-width", 'initial-scale' => 1}
%meta{:name => "robots", :content => "index, follow"}
%meta{:property => "article:author", :content =>  "https://www.facebook.com/distributedlife"}
%meta{:property => "article:author", :content =>  "https://plus.google.com/u/1/+RyanBoucher_distributedlife"}
%meta{:property => "article:author", :content =>  "https://www.twitter.com/distributedlife"}
%meta{:property => "article:author", :content =>  "Ryan Boucher"}
%meta{:property => "og:site_name", :content => "distributedlife"}
= stylesheet_link_tag "blog.css"
%link{:rel => "alternate", :type => 'application/atom+xml', :title => "Atom feed", :href => "#{site_url}/feed.xml"}
%link{:href => "http://fonts.googleapis.com/css?family=Reenie+Beanie:400", :rel => "stylesheet", :type => "text/css"}