.old
	%p
		%b Notice:
		this article is quite old. Links may no longer work and I may no longer hold this opinion. You can contact me on
		%a{:href => "http://twitter.com/distributedlife", :target => "_blank"} twitter
		for my latest opinion and google for the links. I plan to update these... one day.