.content
  %ul.anchors
    - projects.each_with_index do |project, index|
      %li.anchor
        %h1= project[:title].join(" ")
        %img{:src => project[:image]}
        .brief= project[:brief]
        .click-to-read
          %a{:href => project[:url]}= project[:action]
      - if (index + 1) < projects.length
        %hr