body {
  background-color: white;

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(221,221,221,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(221,221,221,1)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(221,221,221,1) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(221,221,221,1) 100%);
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(221,221,221,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(221,221,221,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#dddddd',GradientType=1 );


  color: $base-font-color;
  font-size: 18px;

  margin: 0 0 0 0;

  box-sizing: content-box;
}

.content {
  background-color: white;
  padding: 0 5%;

  @include outer-container;
  @include span-columns(12);

  background:transparent url('/images/paper.png') center repeat-y;
  background-size: 100% auto;

  max-width: 100%;
}

article {
  max-width: 35em;
  margin: 0 auto;
}

.footer {
  margin: 0;
  background-color: $base-accent-color;
  color: white;
  min-height: 32px;
}

.back-invert {
  font-size: 3em;
  font-family: 'Reenie Beanie', italic;
  font-style: italic;
  text-align: center;
}

.movies {
  list-style-type: none;
  padding: 0 0 3em 0;
}

.me {
  position: absolute;
  top: 0;
  right: -450px;
}

.landing {
  background-color: rgb(37, 176, 203);
}

.about {
  max-width: $max_content_width;
  margin: 0 auto;
}

.brief {
  padding-top: 1em;
  font-size: 0.9em;
}

.bio {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  text-align: center;

  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 0.8em;
  }

  img.avatar {
    width: 60%;
    max-width: 200px;
    height: auto;

    background-color: white;
    -webkit-mask-image: url('/images/circle-img-mask.png');
    -webkit-mask-size: 100% 100%;
  }
}

.header {
  min-height: 48px;
  margin: 0;
  background-color: $base-accent-color;
  color: white;
  text-align: center;
  letter-spacing: 0.2em;

  h1 {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 800;
    padding: 1em 0 0.1em 0;
    text-transform: uppercase;
  }
}

.when-and-where {
  display: inline-block;
  color: $med-gray;
  text-transform: uppercase;
  font-size: 0.8em;
}

.copyright {
  box-sizing: content-box;
  font-size: 0.6em;
  text-transform: uppercase;
}

iframe {
  width: 100%;
  height: 100%
}