---
layout: false
---
!!!html
%html
  = partial "/templates/head"
  %body
    = partial "/templates/anchor"
    .index
      .profile
        .profile-photo
          %img.nozoom{:src => "/images/profile.jpg"}
        %a.nozoom{:href => "http://twitter.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/twitter.png"}
        %a.nozoom{:href => "http://github.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/github.png"}
      .my_stuff
        %ul
          %li
            %a{:href => "http://cromulent-publishing.com", :target => "_blank"}
              %h3.copy what you need to know about dates and times in computing
              %p If you're doing anything with dates and times, you should read this.
          %li
            %a{:href => "/travel", :target => "_blank"}
              %h3.copy notes from other places
              %p Images from places i've been to and words describing my experiences.
          %li
            %a{:href => "http://thoughtworks.github.io/p2", :target => "_blank"}
              %h3.copy P2 Magazine
              %p I started P2 Magzine in 2013 at ThoughtWorks. It's a magazine looking at software excellence. I was editor in chief for the seven issue that year and contributed 17 articles.
          %li
            %a{:href => "http://cromulent-testing.com", :target => "_blank"}
              %h3.copy the cromulent testing blog
              %p A blog on testing I wrote with two friends. We no longer write here but the short posts are still relevant.
          %li
            %a{:href => "/resources.html"}
              %h3.copy resources
              %p A collection of resources I call upon when teaching software development.
    = partial "/templates/footer"