---
layout: false
---
!!!html
%html
  = partial "/templates/head"
  %body
    .edging
      .double
        %img.nozoom{:src => "/images/ryan-main.jpg"}
        .text
          %h3 Ryan Boucher
          %h4 a distributed life
          %p I'm very good at starting things. Over time I have learnt to finish things. It's an endless game of tetris; one in which you can never fail as long as you keep on having fun. I enjoy making things; immensely.
          %p Both kinds of thing are here.
      .single
        .text
          %h3 An Author
          %h4
            %a{:href => "http://cromulent-publishing.com", :target => "_blank"} What You Need to Know About Dates and Times in Computing
          %p Struck with a burning desire to reduce the incidents of date and time related mishaps that occur, I and two friends set out to distill the essence of calendars, timezones and daylight saving.
          %p The result is a short book.
          %p.bite
            %a{:href => "http://cromulent-publishing.com", :target => "_blank"} Think of the children...
      .single
        .text
          %h3 A Traveller
          %h4
            %a{:href => "/travel", :target => "_blank"} Notes From Other Places
          %p Fortunate enough to leave my own country I try to share what I witness and understand using naught but images and words.
          %p.bite
            %a{:href => "/travel", :target => "_blank"} Come wander...
      .single
        .text
          %h3 A Game Designer
          %h4
            %a{:href => "/games", :target => "_blank"} Spaces Invaded, Game Design through the lens of Space Invaders.
          %p
          %p.bite
            %a{:href => "/games", :target => "_blank"} Have fun...
      .triple
        .text
          %h3 A Mobile Developer
          %p All the work I've done is for Android but there are apps here for travellors and Mah Jong players.
          %img.portrait.nozoom{:src => "/images/book.jpg"}
          %img.portrait.nozoom{:src => "/images/book.jpg"}
          %img.portrait.nozoom{:src => "/images/book.jpg"}
          %img.portrait.nozoom{:src => "/images/book.jpg"}
          %p.bite
            %a{:href => "/mobile", :target => "_blank"} Android Only...
      .single
        .text
          %h3 A Writer
          %h4 All The Things
          %p I've written in a few different places but almost always on technical topics. Come read what I've written on here, as a cromulent tester and for the magazine I started: P2 Magazine.
          %p.bite Come read
      .single
        .text
          %h3 A Chief Editor
          %h4
            %a{:href => "http://thoughtworks.github.io/p2", :target => "_blank"} P2 Magazine
          %p In 2013 I was chief editor of the ThoughtWorks magazine that focuses on software excellence. It was an amazing journey that started with a conversation in a coffeeshop and ended with me handing the reins over to Rachel Laycock.
          %p.bite
            %a{:href => "http://thoughtworks.github.io/p2", :target => "_blank"} Come read
      .single
        .text
          %h3 An Interviewer
          %h4
            %a{:href => "http://twinterview.distributedlife.com", :target => "_blank"} The Interview
          %p In 2012 and 2013 I created and ran an internal-only interview series called the Interview but also called An Interview with a ThoughtWorker. It aimed to reduce the distance between geographically dispersed colleagues whilst allowing me to challenge how an interview is structured.
          %p.bite
            %a{:href => "http://twinterview.distributedlife.com", :target => "_blank"} Come read
      .single
        .text
          %h3 A Kitchenhand
          %h4
            %a{:href => "/recipes", :target => "_blank"} Recipes With Substance Without Meat
          %p My partner and I have a complicated relationship with meat. Consequently I spend a lot of time exploring and experimenting with recipes to make them suitable for our food preferences without sacrificing on flavour.
          %p.bite
            %a{:href => "/recipes", :target => "_blank"} Omm Nom Nom...
      .single
        .text
          %h3 A Fountainhead
          %h4
            %a{:href => "/ideas", :target => "_blank"} Ideas Are Cheap
          %p What lies beyond this link are ideas that I've had. Some are more fleshed out than others. If you catch me on the right day I'll join forces with you and make it.
          %p.bite
            %a{:href => "/ideas", :target => "_blank"} We are the dreamers of dreams...
      .single
        .text
          %h3 A List Maker
          %h4
            %a{:href => "/lists", :target => "_blank"} Enumerate This!
          %p These lists are incomplete and serve only me. You may find them interesting reading. The views expressed within are an abstraction.
          %p.bite
            %a{:href => "/lists", :target => "_blank"} I like lists too...
      .quarter
        %a{:href => "http://eepurl.com/RtDKv", :target => "_blank"}
          %img.flat{:src => "/images/rss.png"}
      .quarter
        %a{:href => "mailto:ryan.boucher@distributedlife.com"}
          %img.flat{:src => "/images/email.png"}
      .quarter
        %a.nozoom{:href => "http://twitter.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/twitter.png"}
      .quarter
        %a.nozoom{:href => "http://facebook.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/facebook.png"}
      .quarter
        %a.nozoom{:href => "https://plus.google.com/u/0/107794650870218129917/about/p/pub", :target => "_blank"}
          %img.flat{:src => "/images/googleplus.png"}
      .space
      .quarter
        %a.nozoom{:href => "http://github.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/Octocat.png"}
      .quarter
        %a{:href => "http://flickr.com/distributedlife", :target => "_blank"}
          %img.flat{:src => "/images/flickr.png"}
      .quarter
        %a{:href => "http://pinterest.com/distributedlif3", :target => "_blank"}
          %img.flat{:src => "/images/pinterest.png"}