---
layout: false
---
!!!html
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width", 'initial-scale' => 1}
    %meta{:name => "description", :content => ""}
    %meta{:name => "robots", :content => "index, follow"}
    %title= "a distributed life: by Ryan Boucher"
    = stylesheet_link_tag "blog"
    = javascript_include_tag "vendor/jquery.min", "vendor/jquery.unveil.min", "do-unveil", 'keymaster.min', 'gist-embed'
    %link{:rel => "alternate", :type => 'application/atom+xml', :title => "Atom feed", :href => "#{site_url}/rss"}
  %body
    .bio
      %img.avatar{:src => "images/me.jpg"}
      %h1 Ryan Boucher
      %h2 distributedlife
      .follow-options
        .twitter
          %a.nozoom{:href => "http://twitter.com/distributedlife", :target => "_blank"}
            %img.flat{:src => "/images/twitter.png", :width => "32px", :height => "26px" }
        .github
          %a.nozoom{:href => "http://github.com/distributedlife", :target => "_blank"}
            %img.flat{:src => "/images/Octocat.png", :width => "32px", :height => "32px"}
        .facebook
          %a.nozoom{:href => "http://facebook.com/distributedlife", :target => "_blank"}
            %img.flat{:src => "/images/facebook2.png", :width => "32px", :height => "32px"}
        .plus
          %a.nozoom{:href => "https://plus.google.com/u/0/+RyanBoucher_distributedlife/about/p/pub", :target => "_blank"}
            %img.flat{:src => "/images/googleplus.png", :width => "32px", :height => "32px"}
        .email
          %a{:href => "mailto:ryan.boucher@distributedlife.com"}
            %img.flat{:src => "/images/email.png", :width => "32px", :height => "32px"}
    .header
      %h1 Recent Articles
    .content
      %ul.recent-3
        %li.recently
          %h1 Four ways to split a story
          .brief
            Approaches to reducing story complexity for iterative development.
            %span.when-and-where
              P2 Magazine, November 2013
          .click-to-read
            %a{:href => "TODO"} Start Reading
        %hr
        %li.recently
          %h1 BDD and Legacy Systems
          .brief
            Behaviour driven development, by itself, doesn’t work on legacy systems. A key ingredient is still missing and I’m going to talk about what that is.
            %span.when-and-where
              P2 Magazine, October 2013
          .click-to-read
            %a{:href => "TODO"} Start Reading
        %hr
        %li.recently
          %h1 Pattern Fun Facts: Decorator
          .brief
            In pattern fun facts we take a look a pattern and tell you something you didn’t know. This month: The decorator pattern can help you do incremental delivery.
            %span.when-and-where
              P2 Magazine, October 2013
          .click-to-read
            %a{:href => "TODO"} Start Reading
        %hr
        %li.recently
          %input#article-search
          %button#article-search-button Show All Articles
    .header
      %h1 Projects
    .content
      %ul.anchors
        %li.anchor
          %h1 What You Need to Know About Dates and Times in Computing
          %img{:src => "/images/book.jpg"}
          .brief Struck with a burning desire to reduce the incidents of date and time related mishaps that occur, I and two friends set out to distill the essence of calendars, timezones and daylight saving.
          .click-to-read
            %a{:href => "http://cromulent-publishing.com"} Get the book
        %hr
        %li.anchor
          %h1 Notes From Other Places
          %img{:src => "https://farm8.staticflickr.com/7001/13517460004_e6a69f2190_n.jpg"}
          .brief Fortunate enough to leave my own country I try to share what I witness and understand using naught but images and words. Notes from other places contains interesting stories, observations and photos from places that are not where I live.
          .click-to-read
            %a{:href => "/travel"} Go Explore
        %hr
        %li.anchor
          %h1 inch.js
          %img{:src => "/images/inch.png"}
          .brief A javascript game framework that gives you the inch to go the extra mile.
          .click-to-read
            %a{:href => "/inch"} Come Play
        %hr
        %li.anchor
          %h1 Fountainhead
          %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ9EtFXW7NT1ANuKep7ZyJSR_9xXKJt9b-wGdS_iSmX92ALVorH"}
          .brief What lies beyond this link are ideas that I've had. Some are more fleshed out than others. If you catch me on the right day I'll join forces with you and make it.
          .click-to-read
            %a{:href => "/lists.html"} Start something
        %hr
        %li.anchor
          %h1 Lists
          %img{:src => "http://www.off-the-path.com/wp-content/uploads/2011/11/interhigh_bucketlist.jpg"}
          .brief I like lists, perchance a little too much. If you like lists then you'll appreciate this.
          .click-to-read
            %a{:href => "/lists.html"} Enumerate
        %hr
        %li.anchor
          %h1 P2 Magazine
          %img{:src => "/images/p2-magazine.png"}
          .brief In 2013 I started and was the chief editor of the ThoughtWorks magazine that focuses on software excellence. It was an amazing journey that started with a conversation in a coffeeshop and ended with me handing the reins over to Rachel Laycock.
          .click-to-read
            %a{:href => "http://thoughtworks.github.io/p2/"} Be Excellent
        %hr
        %li.anchor
          %h1 The Interview
          %img{:src => "/images/the-interview.png"}
          .brief In 2012 and 2013 I created and ran an ThoughtWorks-only interview series called The Interview but also called An Interview with a ThoughtWorker. It aimed to reduce the distance between geographically dispersed colleagues whilst allowing me to challenge how an interview is structured.
          .click-to-read
            %a{:href => "/projects/the-interview.html"} Enquire
    .header
      %h1 About me
    .content
      %p.brief
        %span Hi my name is Ryan Boucher. I'm very good at starting things. Over time I have learnt to finish things. It's an endless game of tetris; one in which you can never fail as long as you keep on having fun. I enjoy making things; immensely.
      %p.brief
        This site is where I organise the various pieces I've written, the projects I've worked on
        and the one's that got away. I work for
        %a{:href => "http://www.thoughtworks.com"} ThoughtWorks.
        The easiest way to get in contact with me is via
        %a{:href => "http://twitter.com/distributedlife", :target => "_blank"}twitter.
      %p.brief
        The most difficult way to get in contact with me is by conspiring to fix which table number I am assigned when I sit down at a restaurant. Those table numbers map to letters of the alphabet (indirectly of course). Overtime, a message is spelt out. I will respond by briefly contorting my face into brail letters. Be ready.
    .footer
      .copyright © Ryan Boucher, 2008-2015
  :javascript
    $("#article-search").on('change', function() {
        if ($( this ).text() == "") {
          $("#article-search-button").text("Show All Articles");
        } else {
          $("#article-search-button").text("Search Articles");
        }
    });